/*Styles for 1st countdown (prefix = zzcubic1)*/
.zzcubic1 {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 700;
	color: #575757;
}
.zzcubic1__face {
	background-color: #f1f1f1;
}
.zzcubic1__dot {
	background-color: #f1f1f1;
}
.zzcubic1__label {
	font-family: inherit;
	font-weight: inherit;
	letter-spacing: 5px;
	color: #e0e0e0;
	text-transform: lowercase;
}

/*Styles for 2nd countdown (prefix = zzcubic2)*/
.zzcubic2 {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	color: #373737;
}
.zzcubic2__face {
	background-color: #c1c1c1;
}
.zzcubic2__dot {
	background-color: #c1c1c1;
}
.zzcubic2__label {
	font-family: inherit;
	font-weight: inherit;
	letter-spacing: 5px;
	color: #c1c1c1;
	text-transform: lowercase;
}
